.footer-container{
    color: black;
    text-align: center;
    padding: 1.5rem;
    height: 4rem;
    position:absolute;
    bottom:0;
    width:100%;
    .center-box{
        a{
            font-size:1.2rem;
            text-decoration: none;
            color: black;
            &:hover{
                cursor: pointer;
                color: black;
            }
        }
    }
}